@import "compass/css3";

// toggle the cube dimensions here.
$cubeWidth: 250px;
$cubeHeight: 250px;
$cubeDepth: $cubeHeight;

body {
  color: #333;
  padding: 20px;
  text-align: center;
  font-family: Arial;
}

.separator {
  margin-top: 40px;
}

.twitter {
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  background: #00ACED;
  display: inline-block;
  padding: 10px 8px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* 3D Cube */
.space3d {
    perspective: 1000px;
    width: $cubeWidth;
    height: $cubeHeight;
    text-align: center;
    display: inline-block;
}

._3dbox {
    display: inline-block;
    transition: all 0.85s cubic-bezier(0.175,0.885,0.320,1.275);

  text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
}

._3dface {
    overflow: hidden;
    position: absolute;

    border: 1px solid #888;
    background: #FFF;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1),
 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: $cubeWidth;
  opacity: 0.8;
}


._3dface--front {
  width: $cubeWidth;
  height: $cubeHeight;
  transform: translate3d(0, 0, $cubeDepth / 2);
}

._3dface--top {
  width: $cubeWidth;
  height: $cubeDepth;
  transform: rotateX(90deg) translate3d(0, 0, $cubeHeight / 2);
}

._3dface--bottom {
  width: $cubeWidth;
  height: $cubeDepth;
    transform: rotateX(-90deg) translate3d(0, 0, $cubeHeight / 2);
}

._3dface--left {
    width: $cubeDepth;
  height: $cubeHeight;
  left: 50%;
  margin-left: -$cubeDepth / 2;
  transform: rotateY(-90deg) translate3d(0, 0, $cubeWidth / 2);
}


._3dface--right {
  width: $cubeDepth;
  height: $cubeHeight;
  left: 50%;
  margin-left: -$cubeDepth / 2;
    transform: rotateY(90deg) translate3d(0, 0, $cubeWidth / 2);
}


._3dface--back {
  width: $cubeWidth;
  height: $cubeHeight;
    transform: rotateY(180deg) translate3d(0, 0, $cubeDepth / 2);
}

#radio-left:checked ~ .space3d ._3dbox {
  transform: rotateY(90deg);
}

#radio-right:checked ~ .space3d ._3dbox {
  transform: rotateY(-90deg);
}

#radio-bottom:checked ~ .space3d ._3dbox {
  transform: rotateX(90deg);
}

#radio-top:checked ~ .space3d ._3dbox {
  transform: rotateX(-90deg);
}

#radio-back:checked ~ .space3d ._3dbox {
  transform: rotateY(180deg);
}

  // Apply backgrounds
  ._3dface--front {
  background: red;
  background-size: 100%;
}

  ._3dface--left {
  background: pink;
  background-size: auto 100%;
}

   ._3dface--right {
  background: url("graphics005.png");
  background-size: auto 100%;
}

   ._3dface--top {
  background: url("graphics005.png");
  background-size: auto 100%;
}

   ._3dface--bottom {
  background: url("graphics005.png");
  background-size: auto 100%;
}

  ._3dface--back {
  background: url("graphics005.png");
  background-size: auto 100%;
}
