body {
  padding-left: 30%;
  padding-top: 5%;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 10s infinite;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 10s infinite;
}

#cube div {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}




@-webkit-keyframes rotatecube {
   0%  { -webkit-transform: rotateX(0deg) ; }
	 16% { -webkit-transform: rotateY(-90deg); }
  33% { -webkit-transform: rotateY(-90deg); }
  50% { -webkit-transform: rotateY(-180deg) rotateZ(90deg); }
  66% { -webkit-transform: rotateY(90deg) rotateX(90deg) ; }
  83% { -webkit-transform: rotateX(90deg); }
}

@-moz-keyframes rotatecube {
	0%  { -webkit-transform: rotateX(0deg) ; }
	16% { -webkit-transform: rotateY(-90deg); }
 33% { -webkit-transform: rotateY(-90deg); }
 50% { -webkit-transform: rotateY(-180deg) rotateZ(90deg); }
 66% { -webkit-transform: rotateY(90deg) rotateX(90deg) ; }
 83% { -webkit-transform: rotateX(90deg); }
}

.front {
  background: rgba(255,0,0,.5);
}

.back {
  background: rgba(0,255,0,.5);
}

.right {
  background: rgba(0,0,255,.5);
}

.left {
  background: rgba(0,255,255,.5);
}

.top {
  background: rgba(255,0,255,.5);
}

.bottom {
  background: rgba(255,255,0,.5);
}

#cube .front  {
  -webkit-transform:  translateZ( 100px );
  -moz-transform: translateZ( 100px );
}
#cube .back {
  -webkit-transform: rotateY( -180deg) rotateZ( 90deg ) translateZ( 100px );
  -moz-transform: rotateY( -180deg) rotateZ( 90deg )  translateZ( 100px );
}
#cube .right  {
  -webkit-transform: rotateY(  -90deg ) translateZ( 100px );
  -moz-transform: rotateY(  -90deg ) translateZ( 100px );
}
#cube .left   {
  -webkit-transform: rotateY( 90deg ) translateZ( 100px );
  -moz-transform: rotateY( 90deg ) translateZ( 100px );
}
#cube .top    {
  -webkit-transform: rotateY(  90deg ) rotateX(  90deg ) translateZ( 100px );
  -moz-transform: rotateY(  90deg ) rotateX(  90deg )  translateZ( 100px);
}
#cube .bottom {
  -webkit-transform: rotateX( -90deg ) translateZ( 100px );
  -moz-transform: rotateX( -90deg ) translateZ( 100px );
}
